* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #324862;
}

section {
  height: 81vh;
  width: 30vw;
  background: linear-gradient(to top, #768597 30%, #AEC4DC 100%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 40px 40px 40px 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
}

input[type="number"] {
  height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label,
h2 {
  font-size: 16px;
  font-weight: bold;
}

h2:nth-of-type(1) {
  padding-bottom: 20px;
  padding-top: 15px;
}

h2:nth-of-type(2) {
  padding-bottom: 10px;
}

input[type="radio"]~label {
  color: black;
  font-weight: normal;
}

select {
  color: gray;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

input[type="submit"] {
  width: 80px;
  padding: 7px 14px;
  text-align: center;
  align-self: flex-end;
  background-color: #95601A;
  color: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-bottom: 10px;
}

table {
  width: 107%;
  background-color: white;
  border-collapse: collapse;
}

tr:nth-of-type(1) {
  background-color: #2977AA;
  color: white;
}

td {
  border: 1px solid gray;
  height: 30px;
  padding-left: 5px;
}

td:nth-of-type(2),
td:nth-of-type(3) {
  width: 70px;
}

p {
  width: 107%;
  font-size: 10px;
  padding: 10px 0px;
  color: black;
  font-weight: bold;
}

span {
  color: red;
}



/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}